.customBtn {
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #000000;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border 0.25s, background-color 0.25s;
    outline: none;

    &:active,
    &:hover,
    &:focus {
        border: 1px solid #000000;
        background-color: #afa4a4;
    }

    &:focus:not(:active) {
        border: 1px solid #000000;
        background-color: #fff;
    }
}